body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #7dbbbc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  background-color: #f1fada;
  border-radius: 20px;
  padding: 20px;
  width: 60%;
  height: 70%;
  margin: auto;
}
.parent-affichage {
  display: flex;
  justify-content: flex-end;
  height: 20%;
}
.affichage {
  background-color: #7dbbbc;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;

}

.floor-display {
  display: flex;
  justify-content: flex-start; 
  overflow-x: auto; 
  width: 70%; 
  height: 45px;
  margin: auto;
  gap: 5px;
  scrollbar-width: thin;
  scrollbar-color: #888 #ffffff; 
}
.floor-display button {
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  height: 25px;
  width: 30px;
}
.parent-command {
  display: flex;
  align-items: center; 
  justify-content: space-around;
  gap:150px;
  height: 70%;
}

.command-floor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #265073;
  width: 27%;
  height: 90%;
  border-radius: 27px;
}

.top {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 80%;
  height: 11%;
  border-radius: 20px;
  color: #ffffff;
}
.text-cmd {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.top svg {
  display: flex;
  height: 20px;
  justify-content: center;
}

.grp-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
  width: 80%;
  height: 70%;
}

.ctn1-btn,
.ctn2-btn {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(50px, auto));
  gap: 30px;
  justify-items: center;
  align-items: center;
}

.ctn1-btn button,
.ctn2-btn button {
  background-color: #7dbbbc;
  border: 2px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.parent-run {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 10%;
}

.run {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.run button {
  width: 175px;
  height: 65px;
  background-color: #0fa958;
  border-radius: 50px;
  color: #ffffff;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.run .Reset {
  background-color: #c51a1a;
}
.building {
  width: 185px; 
  border: 2px solid #000;
  position: relative;
  height: 100%;
}

.floor {
  height: 20%; 
  border-bottom: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elevator {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.building .elv {
  position: absolute;
  bottom: 0; 
  width: 187px; 
  height: 20%;
  background-color: #000000; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.building .right,
.building .left {
  position: absolute;
  width: 90px;
  height: 87%;
  top: 18px;
  background-color: #9ad0c2;
}

.building .right {
  right: 1px;
}

.building .left {
  left: 1px; 
}


.building .rectangle-2,
.building .rectangle-3,
.building .rectangle-4,
.building .text-Elv {
  position: absolute;
  z-index: 3; 
}

.building .rectangle-2 {
  width: 214px;
  height: 16px;
  top: 0;
  left: 1px;
  background-color: #000000;
}

.building .rectangle-3 {
  width: 180px;
  height: 14px;
  top: 2px;
  left: 4px;
  background-color: #f1fada;
}

.building .rectangle-4 {
  width: 50px;
  height: 16px;
  top: 2px;
  left: 71px;
  background-color: #060606;
}

.building .text-Elv {
  top: 1px;
  left: 93px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0;
}

@keyframes openDoorLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-90%); } 
  }
  
  @keyframes openDoorRight {
    from { transform: translateX(0); }
    to { transform: translateX(90%); } 
  }
  
  @keyframes closeDoorLeft {
    from { transform: translateX(-90%); }
    to { transform: translateX(0); }
  }
  
  @keyframes closeDoorRight {
    from { transform: translateX(90%); }
    to { transform: translateX(0); }
  }
  
  .elevator .left.door-open {
    animation: openDoorLeft 2s forwards;
  }
  
  .elevator .right.door-open {
    animation: openDoorRight 2s forwards;
  }
  
  .elevator .left.door-close {
    animation: closeDoorLeft 2s forwards;
  }
  
  .elevator .right.door-close {
    animation: closeDoorRight 2s forwards;
  }
  .display-Information {
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
  }